.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cardStyles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* object-fit: scale-down; */
}

input {
  margin-left: 38%;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
}

